@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body{
    background: rgb(16, 20, 36);
	padding: 80px;
}
p{
	color: white;
}
a{
	color: white;
	text-decoration: none;
	border:1px solid white;
  	padding:7px 10px;
  	margin:10px;
}
#main{
	padding: 250px;
}
a:hover{
  color:#B90000;
  background-image: linear-gradient(white, #EDEED6);
}